@color: #e3e3e3;
@line: 1px solid @color;

.page-login-form {
  .comp-form-lg {
    width: 48.75%;
    margin: auto;

    padding-top: 24%;

    input {
      height: 50px;
    }

    .logo {
      height: auto;
      width: 100%;
    }

    .content {

      .username {
        margin-top: 16%;
        margin-bottom: 0;
      }

      input{
        border-bottom: 1px solid #E9E9F0;
      }

      .password{
        margin-top: 10%;
      }

      .pwd{
        padding-right: 36px;
      }
    }
  }

  .login-info {
    background: rgba(0, 0, 0, 0.4);
    line-height: 2.5em;
    text-align: center;
    color: #fff;
    margin-top: 20%;
  }

  .submit{
    margin-top: 15%;
    padding: 0 8%;
  }

  .login-recaptcha{
    margin-top: 10%;
    justify-content: center;
  }
}
