.checkbox-select-container{
    .ant-checkbox-group{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .ant-checkbox-group-item {
            flex:9%;
        }
    }
}
