.succeed-guide-page {
    background-color: #F7F7F7;
    padding: 5% 10%;
    min-height: 100%;

    .succeed-guide-main-con {
        padding-bottom: 30px;
        background-color: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        header {
            text-align: center;
            color: #474747;
            font-weight: 550;
            line-height: 86px;
            width: 100%;
            font-size: 34px;
            border-bottom: 1px solid #DCDCDC;
        }

        .succeed-guide-tip-con {
            width: 70%;
            padding: 50px 100px;
            margin-bottom: 80px;
            background-color: #f7f7f7;

            .succeed-guide-btn {
                border-radius: 20px;
                color: #fff;
                border: none;
            }

            .succeed-guide-btn:active {
                color: #fff;
            }

            .succeed-guide-btn-next {
                background-color: #DCDCDC;
            }

            .succeed-guide-btn-succeed {
                background-color: #72AFFD;
            }
        }
    }

    .mgTop25 {
        margin-top: 25px;
    }

    .mgTop15 {
        margin-top: 15px;

    }

    .textAlignCenter {
        text-align: center;
    }
}