@import "/src/styles/config/color";

.customer-summary{
  .defence{
    display: inline-block;
    padding-top: 30px;

    .total{
      color: @normal-active-bg;
      font-size: 1.5rem;

      em{
        color: #707070;
        font-size: 0.6em;
        font-style: normal;
      }
    }
  }
  .domain{
    display: inline-block;
    padding-top: 30px;
    .total{
      color: @normal-active-bg;
      font-size: 1.5rem;
    }
    .percent{
      font-size: 0.9rem;
      position: relative;
      top: -5px;
    }
  }
  .label-text{
    margin-top: 50px;

    .label-text-square{
      margin-top: 20px;
    }
  }

  .used{
    display: inline-block;
    width: 30px;
    height: 20px;
    background: #EBECFE;
    position: relative;
    top: 4px;
  }

  .used, .unUsed{
    display: inline-block;
    width: 20px;
    height: 15px;
    position: relative;
    top: 2px;
    border-radius: 2px;

    &.used{
      background: @normal-active-bg;
    }

    &.unUsed{
      background: #EBECFE;
    }
  }
}
