@import "src/styles/config/color";

.comp-header{
  padding: 10px 60px 10px 30px;
  background-color: @page-head-bg;

  .right-options{
    color: #fff;
  }

  .logo{
    height: 35px;
    width: auto;
  }
}


.ant-menu-inline .ant-menu-item::after {
  border-right: 0;
}
.ant-menu-light .ant-menu-submenu-title:hover{
  color:#b67c39 ;
}
.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu> .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  color: #b67c39 !important;
  a{
    color: #b67c39 !important;
  }
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #ffecdc !important;
}
